<html>
    <head>
        <title>感謝カード入力画面</title>
           </head>
    <body>
<input type="submit" value="ログアウト" style="background-color:blue;">
 <p>■感謝される人</p>
 部署：
 <form>
 <select name="部署：">
 <option value="1">ネットワーク技術部</option>
 <option value="2" selected>人事部</option>
 <option value="3">システム開発部</option>
 </select>
 </form>

氏名：
<form>
 <select name="氏名：">
 <option value="1">濱元　和樹</option>
 <option value="2" selected>兼元　唯之</option>
 <option value="3">城間　健作</option>
 <option value="4">喜久川　聖弥</option>
 </select>
 </form>




<!-- テキストボックスに表示する場合 -->
<form name="myForm">
日付：<input type="text" name="myText">
</form>
<script language="JavaScript"><!--
   var dt=new Date();//　日付を取得
   var dy=dt.getYear();
   var dm=dt.getMonth()+1;
   var dd=dt.getDate();
   var dw=dt.getDay();
   var wn=["sun","mon","tue","wed","thu","fri","sat"];
   if(dy<2000){dy+=1900;}
   var str=dy+"/"+dm+"/"+dd+"("+wn[dw]+")";
   document.myForm.myText.value=str;//←テキストボックスに表示
//--></script>




 <p>ヘルプ内容</p>
 ヘルプ項目：<form>
 <select name="ヘルプ項目：">
 <option value="1">技術に関すること</option>
 <option value="2" selected>知識に関すること</option>
 <option value="3">その他</option>
 </select>
 </form>



 <FORM>
 <TEXTAREA cols="40" rows="5" maxlength="200"></TEXTAREA>
 </FORM>

 <p>感謝の言葉</p>
 <FORM>
 <TEXTAREA cols="40" rows="5" maxlength="200"></TEXTAREA>
 </FORM>
 <p>■感謝する人</p>
 <form>
 <select name="部署：">
 <option value="1">ネットワーク技術部</option>
 <option value="2" selected>人事部</option>
 <option value="3">システム開発部</option>
 </select>
 </form>


<form>
 <select name="氏名：">
 <option value="1">濱元　和樹</option>
 <option value="2" selected>兼元　唯之</option>
 <option value="3">城間　健作</option>
 <option value="4">喜久川　聖弥</option>
 </select>
 </form>

 <input type="submit" value="登録" style="background-color:blue;">
 <input type="submit" value="クリア" style="background-color:blue;">
 <input type="submit" value="マイページ" style="background-color:blue;">
    </body>
</html>