<html>
    <head>
        <title>感謝カード入力画面</title>
           </head>
    <body>
<input type="submit" value="ログアウト" style="position: absolute; right: 20px; top: 20px; background-color:blue;">
<input type="submit" value="パスワード登録" style="position: absolute; right: 20px; top: 50px; background-color:blue;">
 <p>■集計対象者</p>
 <p>■感謝された人</p>
 <!-- プルタブ -->

 部署：<select name="部署：">
 <option value="1">ネットワーク技術部</option>
 <option value="2" selected>人事部</option>
 <option value="3">システム開発部</option>
 </select>




 氏名：<select name="氏名：">
 <option value="1">濱元　和樹</option>
 <option value="2" selected>兼元　唯之</option>
 <option value="3">城間　健作</option>
 <option value="4">喜久川　聖弥</option>
 </select>

<br>

 ヘルプ項目：<form>
 <select name="ヘルプ項目：">
 <option value="1">技術に関すること</option>
 <option value="2" selected>知識に関すること</option>
 <option value="3">その他</option>
 </select>
 </form>

 <input type="submit" value="検索" style="background-color:blue;">


<p>■集計結果</p>

<!-- 掲示板html -->

<table border="2">
  <tr>
    <td>部署</td>
    <td>氏名</td>
    <td>総ヘルプ回数</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td></td>
    <td></td>
  </tr>
</table>

<p>■部署別ヘルプ回数</p>
<table border="2">
  <tr>
    <td>部署</td>
    <td>ヘルプ数</td>
  </tr>
  <tr>
    <td>人事部</td>
    <td></td>
  </tr>
  <tr>
    <td>システム部</td>
    <td></td>
  </tr>
  <tr>
    <td>経理部</td>
    <td></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td></td>
  </tr>
</table>
<br>
<br>

 <input type="submit" value="1">
  <input type="submit" value="2">
   <input type="submit" value="3">

<input type="submit" value="マイページ" style="position: absolute; right: 20px; bottom: 20px; background-color:blue;" />
    </body>
</html>