<html>
    <head>
        <title>感謝カード入力画面</title>
           </head>
    <body>
<input type="submit" value="ログアウト" style="background-color:blue;">
<input type="submit" value="パスワード登録" style="background-color:blue;">
 <p>■集計対象者</p>
 <p>■感謝された人</p>
 <form>
 <select name="部署：">
 <option value="1">ネットワーク技術部</option>
 <option value="2" selected>人事部</option>
 <option value="3">システム開発部</option>
 </select>
 </form>


<form>
 <select name="氏名：">
 <option value="1">濱元　和樹</option>
 <option value="2" selected>兼元　唯之</option>
 <option value="3">城間　健作</option>
 <option value="4">喜久川　聖弥</option>
 </select>
 </form>

<p>■集計結果</p>

<!-- 掲示板html -->

 <input type="submit" value="マイページ" style="background-color:blue;">
    </body>
</html>